html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

div {
  background-color: black;
  height: 50px;
  width: 50px;
}

.container {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  height: 800px;
  width: 800px;
}